<div class="mt-5">
  <form action='./sign-in' method='POST'>
    <label for='input-email'>Email</label>
    <input id='input-email' type='text' name='email' {{!-- placeholder="your email" --}} required/>
    <label for='input-password'>Password</label>
    <input id='input-password' type='password' name='password' {{!-- placeholder="your password" --}} required/>
    <button>Sign In</button>
  </form>
  <a href=''>Forgot password?</a>

  <a href=''>Sign in with Facebook</a>
  <a href="/auth/google">Sign In with Google</a>
</div>