<div class="d-flex align-items-center flex-column registerSignIn"> 
  <img src="/images/undraw_my_password_d6kg.svg" alt="" class="col-10 col-sm-8 col-md-3 px-4 pt-4">
  <form action='./sign-in' method='POST' class="col-3 py-3 mx-auto border-2 shadow rounded-twice formRegisterSignIn">
    <h4 class="text-left rounded-twice py-2 px-3 bg-1 bg-white mb-4 color-4 shadow text-uppercase">Login<span class="color-1 text-1-5 ml-0 lh-0">.</span></h4>
    <div class="form-group">
      <input id='input-email' type="email" name="email" class="form-control" placeholder="Enter email" required autofocus/>    
      <label class="text-center text-muted">Email</label> {{!-- LABEL --}}
    </div>
    <div class="form-group">
      <input id="input-password" type="password" name="password" class="form-control" placeholder="Enter your password" required/>
      <label class="text-center text-muted">Password</label> {{!-- LABEL --}}
    </div>
    <button type="submit" class="btn text-center w-100 rounded-twice bg-4 text-white text-uppercase p-2">Submit</button>
    <p class="my-0 text-muted text-center"><small>or</small></p>
    <div class="text-center w-100">
      <a href="/auth/google" class="border round p-2 d-flex align-items-center justify-content-between rounded-twice color-1" style="text-decoration: none;"><i class="lni-google"></i>Sign in with Google</a>
    </div>
  </form>
</div>
{{!-- 
// sign-in height: 90vh
dflex item-center
título logi in
botão 100%~
small : text-muted
sing in google border round p2
backgroud-gradient --}}

{{!-- <div class="mt-5">
  <form action='./sign-in' method='POST'>
    <label for='input-email'>Email</label>
    <input id='input-email' type='text' name='email'  placeholder="your email"  required/>
    <label for='input-password'>Password</label>
    <input id='input-password' type='password' name='password' placeholder="your password"  required/>
    <button>Sign In</button>
  </form>
  <a href=''>Forgot password?</a>

  <a href=''>Sign in with Facebook</a>
  <a href="/auth/google">Sign In with Google</a>
</div> --}}