<div class="d-flex align-items-center registerSignIn"> 
  <form action='./sign-in' method='POST' class="col-3 py-3 mx-auto border-2 shadow rounded-twice form-registerSigin">
    <h6 class="text-center">Login</h6>
    <div class="form-group">
      <input id='input-email' type="email" name="email" class="form-control" placeholder="Enter email" required autofocus/>    
      <small class="text-center text-muted">Email</small> {{!-- LABEL --}}
    </div>
    <div class="form-group">
      <input id="input-password" type="password" name="password" class="form-control" placeholder="Enter your password" required/>
      <small class="text-center text-muted">Password</small> {{!-- LABEL --}}
    </div>
    <button type="submit" class="btn btn-primary text-center w-100">Submit</button>
    <div class="text-center mt-3 w-100">
      <a href="/auth/google" class="border round p-2"><i class="fab fa-google" style="color: red"></i>  Sign In with Google</a>
    </div>
  </form>
</div>
{{!-- 
// sign-in height: 90vh
dflex item-center
título logi in
botão 100%~
small : text-muted
sing in google border round p2
backgroud-gradient --}}

{{!-- <div class="mt-5">
  <form action='./sign-in' method='POST'>
    <label for='input-email'>Email</label>
    <input id='input-email' type='text' name='email'  placeholder="your email"  required/>
    <label for='input-password'>Password</label>
    <input id='input-password' type='password' name='password' placeholder="your password"  required/>
    <button>Sign In</button>
  </form>
  <a href=''>Forgot password?</a>

  <a href=''>Sign in with Facebook</a>
  <a href="/auth/google">Sign In with Google</a>
</div> --}}