<div class="text-white bg-1">
  <div class="container-fluid p-3 border-bottom">
    <h1 class="mb-0 text-1-5 text-uppercase">Search<span class="color-4 text-1-5 ml-1 lh-0">.</span></h1>
  </div>
</div>
<div class="container bg-white p-5">
  <ul class="row list-unstyled poster">
      {{#each searchObject.body.results }}
          {{#if media_type }}
              <li class="col-6 col-sm-4 col-md-3 my-2">
                  {{> mtvCard}}
                  {{#if ../user }}
                    {{> mtvCardButtons user=../user}}
                  {{/if}}
              </li>
          {{/if}}
      {{/each}}
  </ul>
</div>



