<ul>
    {{#if user}}
    <p>{{ user }}</p>
    {{/if }}
    {{#each searchObject.body.results }}
    <li>{{ title }}</li>
    <form action="{{../user.towatchList }}/add/{{ id }}" method="POST">
        <button>Add to Watchlist</button>
    </form>
    {{/each}}
</ul>