<div class="jumbotron jumbotron-fluid bg-dark text-white">
  <div class="container p-5">
    <h1 class="display-4">Search</h1>
  </div>
</div>
<div class="container bg-white">
<ul class="row list-unstyled">
    {{#each searchObject.body.results }}
        {{#if media_type }}
            <li class="col-6 col-sm-4 col-md-3 mt-5">
                {{> mtvCard}}
                {{#if ../user }}
                  {{> mtvCardButtons}}
                {{/if}}
            </li>
        {{/if}}
    {{/each}}
</ul>

</div>



