<div class="jumbotron jumbotron-fluid text-white bg-1 m-0">
  <div class="container">
    <h1 class="display-4">Say goodbye to,<br>meaningless ratings.</h1>
    <p class="lead">Get suggestions based on the people you <span class="text-highlighted rounded-twice bg-4">follow</span> and what they <span class="text-highlighted rounded-twice bg-4">approve</span></p>
  </div>
</div>
<section class="d-flex align-items-center py-5 bg-white justify-content-around">
  <div class="col-5">
    <img src="/images/undraw_may_the_force_bgdm.svg" alt="" srcset="" class="w-100 p-5">
  </div>
  <div class="col-5">
    <h2 class="color-4">No more fights.<br>We'll choose for you.</h2>
    <p class="color-4">The more movies and series you add to your <span class="text-highlighted rounded-twice bg-wheat">lists</span> and<br> the more people you <span class="text-highlighted rounded-twice bg-wheat">follow</span> the better suggestions will be.</p>
    <a href="" class="btn mt-2 btn-gradient px-5 py-2 text-uppercase">Register</a>
  </div>
</section>
<section class="d-flex align-items-center py-5 bg-wheat  justify-content-around">
  <div class="col-5">
    <h2 class="color-4">What you approve really matters.</h2>
    <p class="color-4">The people who follow you are counting on your impecable taste for their next movie night. Their <span class="text-highlighted rounded-twice bg-white color-1">suggestions</span> are tied with your <span class="text-highlighted rounded-twice bg-white color-1">approvals</span><br><em>With great power comes great responsibility!</em></p>
    <a href="" class="btn mt-2 btn-gradient px-5 py-2 text-uppercase">Influence away</a>
  </div>
    <div class="col-5">
    <img src="/images/undraw_like_dislike_1dfj.svg" alt="" srcset="" class="w-100 p-5">
  </div>
</section>
<section class="d-flex align-items-center py-5 bg-4  justify-content-around">
    <div class="col-5">
    <img src="/images/undraw_friends_online_klj6.svg" alt="" srcset="" class="w-100 p-5">
  </div>
    <div class="col-5">
    <h2 class="text-white">Follow the people that matter to you.</h2>
    <p class="text-white">
      Who needs <span class="font-italic text-uppercase">174325 reviews</span> when only 6 matter to you?<br><span class="text-highlighted rounded-twice bg-1 text-white">Follow</span> friends, celebrities or even random taste makers.</p>
    <a href="" class="btn mt-2 bg-white px-5 color-1 font-weight-bold py-2 text-uppercase">Find Tasteful Folks</a>
  </div>
</section>