<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Say goodbye to,<br>meaningless ratings.</h1>
    <p class="lead">Get suggestions based on the people you follow and what they approve.</p>
  </div>
</div>
