* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 56px 0 0 0;
  margin-top: 0;
  font-family: "Karla", sans-serif;
  min-height: 100vh; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif; }

.bg-1 {
  background-color: #f67280; }

.bg-2 {
  background-color: #c06c84; }

.bg-3 {
  background-color: #6c5b7b; }

.bg-4 {
  background-color: #355c7d; }

.bg-5 {
  background-color: #52de97; }

.bg-wheat {
  background-color: wheat; }

.rounded-twice {
  border-radius: 0.5rem !important; }

.color-1 {
  color: #f67280; }

.color-2 {
  color: #c06c84; }

.color-3 {
  color: #6c5b7b; }

.color-4 {
  color: #355c7d; }

.border-bottom-light-grey {
  border-bottom: 2px solid #efefef; }

.text-arial {
  font-family: Arial, Helvetica, sans-serif; }

.link-color-1:hover {
  color: #f67280;
  text-decoration: none; }

.link-color-2:hover {
  color: #c06c84;
  text-decoration: none; }

.link-color-3:hover {
  color: #6c5b7b;
  text-decoration: none; }

.text-0-6 {
  font-size: 0.6em; }

.text-0-75 {
  font-size: 0.75em; }

.text-1 {
  font-size: 1em; }

.text-1-25 {
  font-size: 1.25em; }

.text-1-5 {
  font-size: 1.5em; }

.text-2 {
  font-size: 2em; }

.text-3 {
  font-size: 3em; }

.lh-0 {
  line-height: 0; }

#navbar {
  background-color: #355c7d; }
  #navbar a {
    color: #efefef; }
  #navbar #navbar-links img {
    height: 25px; }
  #navbar #navbar-user img {
    width: 40px; }
  #navbar #navbar-user a {
    height: 40px; }
  #navbar #navbar-search input {
    background-color: #ffffff20;
    color: #ffffff; }
    #navbar #navbar-search input:focus {
      outline: none;
      background-color: #ffffff3b; }
    #navbar #navbar-search input::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1;
      /* Firefox */ }
    #navbar #navbar-search input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white; }
    #navbar #navbar-search input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: white; }

.mtvCard-container:hover {
  opacity: 0.8; }

#userSearch input {
  background-color: transparent;
  color: #355c7d; }
  #userSearch input:focus {
    outline: none;
    background-color: #f6727f2a; }
  #userSearch input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #355c7d;
    opacity: 1;
    /* Firefox */
    font-weight: 100;
    font-family: "Karla", sans-serif;
    font-size: 0.8em; }
  #userSearch input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #355c7d; }
  #userSearch input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #355c7d; }

#backdrop {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: -99;
  filter: grayscale(0.85) opacity(0.85); }

.btn-gradient {
  background: linear-gradient(45deg, #f67280 0%, #c06c84 80%);
  color: white;
  font-weight: 900; }

.poster li div a p.title {
  bottom: 0;
  font-family: "Rubik", sans-serif;
  margin-bottom: 25px !important; }

.checkmark {
  bottom: 4px;
  right: 23px; }

.caption {
  position: absolute;
  top: 0;
  left: 16px;
  color: #fefefebe; }

a {
  color: #00b7ff; }

.mtvButtons {
  top: -21px;
  width: 80%;
  align-self: center;
  background-color: #ffffffe7;
  z-index: 500; }
  .mtvButtons button {
    background-color: transparent;
    border: none; }

.w2wGradient {
  background: #f67280;
  background: linear-gradient(0deg, #f67280 19%, #355c7d 100%); }

#userInfo {
  min-height: 50vh; }

.success {
  color: white;
  font-size: 1em;
  min-height: calc(100vh - 56px);
  background: #f67280;
  background: linear-gradient(0deg, #f67280 19%, #355c7d 100%); }
  .success a {
    text-decoration: none; }

.registerSignIn {
  min-height: calc(100vh - 56px);
  background: #f67280;
  background: linear-gradient(0deg, #f67280 19%, #355c7d 100%); }

.formRegisterSignIn {
  background: #fff;
  margin-top: -35px; }
  .formRegisterSignIn h4 {
    margin-top: -37px; }

label {
  font-size: 0.8em; }

.main-info {
  background: whitesmoke; }

.userInfo {
  background: #355c7d; }

.profile-pic {
  max-width: 200px; }

.user-lists {
  border-left: 2px solid #f67280; }

.text-highlighted {
  font-weight: 900;
  padding: 3px 8px; }

#myTabJust {
  border: none; }
  #myTabJust .nav-item .nav-link {
    color: #355c7d;
    border-bottom-color: #efefef;
    border-width: 0 0 1px 0; }
    #myTabJust .nav-item .nav-link.active, #myTabJust .nav-item .nav-link:hover {
      border: none;
      border-bottom: 3px solid #f67280;
      color: #f67280; }

#myTabContentJust .tab-pane {
  min-height: 60vh; }

.card {
  border: none; }

.poster-container {
  height: 70vh; }

.search-poster {
  animation-duration: 2s;
  animation-name: fadeIn; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.poster-single {
  height: 60vh; }

.posterBanner {
  height: 60vh;
  animation-duration: 3s;
  animation-name: slideIn;
  z-index: 100; }

@-webkit-keyframes slideIn {
  from {
    margin-top: -25%; }
  to {
    margin-top: 0; } }

@keyframes slideIn {
  from {
    margin-top: -25%; }
  to {
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */