$font-headings: 'Rubik', sans-serif;
$font-sans: 'Karla', sans-serif;
$link-color: #00b7ff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin-top: 56px;
  font-family: $font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .main {
    width: 60%;
    display: inherit;
    justify-content: flex-start;

    img {
      width: 75px;
    }

    a {
      padding-left: 1em;
    }
  }

  .options {
    width: 40%;
    display: flex;
    justify-content: space-between;

    a {
      padding-right: 1em;
    }
  }
}

.caption {
  color: red;
  position: absolute;
  top: 8px;
  left: 20px;
}

a {
  color: $link-color;
}

.mtvCards {
  top: -21px;
  width: 80%;
  align-self: center;
}

/* .poster {
  animation-duration: 3s;
  animation-name: fadeIn;             

  @-webkit-keyframes fadeIn {
      0% {opacity: 0;};
      100% {opacity: 1;};
   } 

  @keyframes fadeIn {
      0% {opacity: 0;};
      100% {opacity: 1;};
   } 
}

.posterBanner {
  animation-duration: 3s;
  animation-name: slideIn;
  z-index: 100; 
      
    @-webkit-keyframes slideIn {
        from {
            margin-top: -200%;                    
        }
        to {
            margin-top: 0;                    
        }                
    }

    @keyframes slideIn {
        from {
            margin-top: -200%;                    
        }
        to {
            margin-top: 0;                    
        }                
    }
} */
