$font-headings: 'Rubik', sans-serif;
$font-sans: 'Karla', sans-serif;
$link-color: #00b7ff;
$color1: #f67280;
$color2: #c06c84;
$color3: #6c5b7b;
$color4: #355c7d;

$lightgrey: #efefef;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 56px 0 0 0;
  margin-top: 0;
  font-family: $font-sans;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
}

.bg-1 {
  background-color: $color1;
}
.bg-2 {
  background-color: $color2;
}
.bg-3 {
  background-color: $color3;
}
.bg-4 {
  background-color: $color4;
}

.bg-wheat {
  background-color: wheat;
}

.rounded-twice {
  border-radius: 0.5rem !important;
}

.color-1 {
  color: $color1;
}
.color-2 {
  color: $color2;
}
.color-3 {
  color: $color3;
}
.color-4 {
  color: $color4;
}

.text-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.text-1 {
  font-size: 1em;
}

.text-1-5 {
  font-size: 1.5em;
}

.text-2 {
  font-size: 2em;
}

.text-3 {
  font-size: 3em;
}

.lh-0 {
  line-height: 0;
}

#navbar {
  background-color: $color4;

  a {
    color: $lightgrey;
  }

  #navbar-links img {
    height: 25px;
  }

  #navbar-user img {
    width: 40px;
  }

  #navbar-search input {
    background-color: #ffffff20;
    color: #ffffff;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: white;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: white;
    }
  }
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position:fixed;
  top:0;
  left:0;
  height:90vh;
  z-index: -99;
  filter: blur(4px);
}


.btn-gradient {
  background: linear-gradient(45deg, $color1 0%, $color2 80%);
  color: white;
  font-weight: 900;
  border: none;
}

.poster {
  li {
    div {
      a {
        p.title {
          bottom: 0;
          font-family: $font-headings;
          margin-bottom: 25px !important;
        }
      }
    }
  }
}

.caption {
  position: absolute;
  top: 0;
  left: 16px;
  color: #fefefebe;
}

a {
  color: $link-color;
}

.mtvButtons {
  top: -21px;
  width: 80%;
  align-self: center;
  background-color: #ffffffe7;
  z-index: 500;

  button {
    background-color: transparent;
    border: none;
  }
}

.registerSignIn {
  height: calc(100vh - 56px);
  background: rgb(246, 114, 128);
  background: linear-gradient(
    0deg,
    rgba(246, 114, 128, 1) 19%,
    rgba(53, 92, 125, 1) 100%
  );
}

.form-registerSigin {
  background: #fff;
}

.main-info {
  background: whitesmoke;
}

.userInfo {
  background: $color4;
}

.userProfileImg {
  border-radius: 50%;
  border: 2px solid $color1;
}

.user-lists {
  border-left: 2px solid $color1;
}

.text-highlighted {
  font-weight: 900;
  padding: 3px 8px;
}

 .banner-poster {
  animation-duration: 3s;
  animation-name: fadeIn;

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.posterBanner {
  animation-duration: 3s;
  animation-name: slideIn;
  z-index: 100;

  @-webkit-keyframes slideIn {
    from {
      margin-top: -200%;
    }
    to {
      margin-top: 0;
    }
  }

  @keyframes slideIn {
    from {
      margin-top: -200%;
    }
  } 

}
